h1 {
    color: red;
}
li {
    color: gold;
    text-align: center;
    background-color: white;
    font-size: 20px;
}

h2 {
    color: green;
    border: 1px;
}

h3 {
    font-family: 'Times New Roman';
    text-decoration-color: gold;
    border: 2px;
}
